<!DOCTYPE html>
<html lang="fr">
</head>
<body>
        <table border="1"> {
            border-collapse: separate; /* Sépare les cellules, nécessaire pour border-spacing */
            border-spacing: 10px; /* Espace entre les cellules */
            width: 50%; /* Largeur du tableau */
        }
        th, td {
            padding: 15px; /* Espace intérieur dans les cellules */
            text-align: left; /* Alignement du texte */
        }
        <thead>
            <tr>
                <td>un tableau                        </td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>à 6                        </td>
                <td>cases                        </td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
        <table border="1">
                <tr>
                        <td>un autre tableau</td>
                        <td>                </td>
                        <td>                </td>
                        <td colspan=2>
                </tr>
        </tbody>
    </table>
</body>
</html>
