<html><head>
</head>
<body>
<h1>Afficher l'image</h1>
 <style>
        /* Style pour l'image et les boutons */
        #image-container {
            text-align: center;
            margin: 20px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        button {
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
<hr>
<button onclick="affichage()">Afficher</button>
<hr>
<button onclick="showImage('static/golmont.jpg')">Image 1</button>
<button onclick="showImage('static/laporte.jpg')">Image 2</button>
<button onclick="showImage('static/golmont.jpg')">Image 3</button>
<hr>
<div id="image-container">
        <!-- L'image s'affichera ici -->
        <img id="displayed-image" src="" alt="Cliquez sur un bouton pour afficher une image">
    </div>
<script>@param {string} imagePath - Chemin de l'image à afficher
         */
        function showImage(imagePath) {
            const imageElement = document.getElementById('displayed-image');
            imageElement.src = imagePath; // Change la source de l'image
            imageElement.alt = `Image affichée depuis ${imagePath}`; // Ajoute une description
        }
</script>

<p>Option<input type="checkbox" id="Control"></p>
<button onclick="controler()">Check</button>



</body></html>
